<!-- home.html -->
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="home">
    <div class=hero-image>
        <img src="/static/img/truck-kendall-henderson-43316-unsplashResize.jpg" class="img-fluid" alt="Responsive Hero Image" >
    </div>
    <h1>Reviewed By Trucker</h1>
    <h3>Review companies that post loads</h3>
    <!-- Use Bootstrap Button -->
    <button action="/loads" type="button" id="home-btn" class="btn btn-info">
        View Loads
    </button>

    <script type="text/javascript">
        document.getElementById("home-btn").onclick = function () {
            location.href = "/index.html"
        }
    </script>
</div>
{% endblock %}
